<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sickSa.mapper.IngredientCategoriesMapper">

<!-- 추가함 -->
<select id="selectIngredientCategoryById" resultType="sickSa.domain.IngredientCategories">
select * from INGREDIENT_CATEGORIES where IGCT_ID = #{igct_id}
</select>
	
	<select 
		id="ingredientCategoriesList" 
		resultType="sickSa.domain.IngredientCategories">
		SELECT 
			igct_id,
			igct_name
		FROM 
			ingredient_categories
	</select>
	
	<select 
		id="selectIngredientCategoriesById" 
		parameterType="java.lang.String" 
		resultType="sickSa.domain.IngredientCategories" >
		SELECT 
			igct_id,
			igct_name
		FROM
			ingredient_categories
		WHERE 
		    igct_name = #{igct_name}
	</select>
	
	<insert 
		id="insertIngredientCategories" 
		parameterType="sickSa.domain.IngredientCategories">
		<selectKey 
			keyProperty="igct_id" 
			resultType="java.lang.Integer"
			order="BEFORE">
			SELECT igct_id_seq.nextval FROM DUAL
		</selectKey>
		INSERT INTO
			ingredient_categories(igct_id, igct_name)
		VALUES
			(#{igct_id}, #{igct_name})
	</insert>
	
	<delete 
		id="deleteIngredientCategories" 
		parameterType="java.lang.Integer">
		DELETE
		FROM
			ingredient_categories
		WHERE
			igct_id = #{igct_id}
	</delete>
	
	<update 
		id="updateIngredientCategories" 
		parameterType="sickSa.domain.IngredientCategories">
		UPDATE
			ingredient_categories
		SET
			igct_name = #{igct_name}
		WHERE
			igct_id = #{igct_id}
	</update>
	
</mapper>