<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sickSa.mapper.IngredientsMapper">
	
	<select 
		id="ingredientList" 
		resultType="sickSa.domain.Ingredients">
		SELECT ING_ID,ING_NAME,ING_STOCK,ING_MEASURE
		FROM INGREDIENTS
	</select>
	
	<select 
		id="selectIngredientById" 
		parameterType="java.lang.Integer" 
		resultType="sickSa.domain.Ingredients">
		SELECT ING_ID,ING_NAME,ING_STOCK,ING_MEASURE
		FROM INGREDIENTS
		WHERE ING_ID=#{ING_ID}
	</select>
	
	<insert 
		id="insertIngredient"
		parameterType="sickSa.domain.Ingredients">
		<selectKey 
			keyProperty="ING_ID" 
			resultType="java.lang.Integer"
			order="BEFORE">
			SELECT INGREDIENTS_ING_ID_SEQ.nextval FROM DUAL
		</selectKey>
		INSERT INTO INGREDIENTS(ING_ID,ING_NAME,ING_STOCK,ING_MEASURE)
		VALUES (#{ING_ID},#{ING_NAME},#{ING_STOCK},#{ING_MEASURE})
	</insert>
	
	<delete 
		id="deleteIngredient"
		parameterType="java.lang.Integer">
		DELETE FROM INGREDIENTS
		WHERE ING_ID=#{ING_ID}
	</delete>
	
	<update 
		id="updateIngredient"
		parameterType="sickSa.domain.Ingredients">
		UPDATE INGREDIENTS
		SET ING_NAME=#{ING_NAME},ING_STOCK=#{ING_STOCK},
			ING_MEASURE=#{ING_MEASURE}
		WHERE ING_ID = #{ING_ID}
	</update> 
	
</mapper>