<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sickSa.mapper.IngredientDetailsMapper">
	<!--  -->
	<!-- 
	<resultMap id="INGREDIENT_CATEGORIES" type="sickSa.domain.IngredientCategories">
		<result column="IGCT_ID" property="igct_id"/>
		<result column="IGCT_NAME" property="igct_name"/>
	</resultMap>
	
	<resultMap id="ingredient_details" type="sickSa.domain.IngredientDetails">
		<result column="ING_ID" property="ing_id"/>
		<result column="IGDT_IN" property="igdt_in"/>
		<result column="IGDT_OUT" property="igdt_out"/>
		<result column="IGDT_PRICE" property="igdt_price"/>
		<result column="IGDT_CONTACT" property="igdt_contact"/>
		<association resultMap="INGREDIENT_CATEGORIES"
					 property="igct_id" 
					 select="sickSa.mapper.IngredientCategoriesMapper.selectIngredientCategoriesById"/>
	</resultMap> 
	-->
	
	<select 
		id="listIngDetail" 
		resultType="sickSa.domain.IngredientDetails">
		SELECT 
			ing_id,igdt_in,igdt_out,igdt_price,igdt_contact,igct_id
		FROM 
			ingredient_details
	</select>
	
	<select 
		id="selectIngDetailById" 
		parameterType="java.lang.Integer" 
		resultType="sickSa.domain.IngredientDetails">
		SELECT 
			ing_id,igdt_in,igdt_out,igdt_price,igdt_contact,igct_id
		FROM 
			ingredient_details
		WHERE 
			ing_id=#{ing_id}
	</select>
	
	<select 
		id="selectIngDetailByCt" 
		parameterType="java.lang.Integer" 
		resultType="sickSa.domain.IngredientDetails">
		SELECT 
			ing_id,igdt_in,igdt_out,igdt_price,igdt_contact,igct_id
		FROM 
			ingredient_details
		WHERE 
			igct_id=#{igct_id}
	</select>
	
	<insert 
		id="insertIngDetail"
		parameterType="sickSa.domain.IngredientDetails">
		<selectKey 
			keyProperty="ing_id" 
			resultType="java.lang.Integer"
			order="BEFORE">
			SELECT ingredients_ing_id_seq.nextval FROM DUAL
		</selectKey>
		INSERT INTO 
			ingredient_details(ing_id,igdt_in,igdt_out,igdt_price,igdt_contact,igct_id)
		VALUES 
			(#{ing_id},#{igdt_in},#{igdt_out},#{igdt_price},#{igdt_contact},#{igct_id})
	</insert>
	
	<delete 
		id="deleteIngDetail"
		parameterType="java.lang.Integer">
		DELETE FROM ingredient_details
		WHERE ing_id=#{ing_id}
	</delete>
	
	<update 
		id="updateIngDetail"
		parameterType="sickSa.domain.IngredientDetails">
		UPDATE 
			ingredient_details
		SET 
			igdt_in=#{igdt_in},igdt_out=#{igdt_out},
			igdt_price=#{igdt_price},igdt_contact=#{igdt_contact}
		WHERE 
			ing_id = #{ing_id}
	</update> 
	
</mapper>