<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sickSa.mapper.IngredientsMapper">
	
	<resultMap id="ingredient_categories" type="sickSa.domain.IngredientCategories">
		<result column="igct_id" property="igct_id"/>
		<result column="igct_name" property="igct_name"/>
	</resultMap>
	
	<resultMap id="ingredient_details" type="sickSa.domain.IngredientDetails">
		<result column="ing_id" property="ing_id"/>
		<result column="igdt_in" property="igdt_in"/>
		<result column="igdt_out" property="igdt_out"/>
		<result column="igdt_price" property="igdt_price"/>
		<result column="igdt_contact" property="igdt_contact"/>
		<result column="igct_id" property="igct_id"/>
	</resultMap>
	
	<resultMap id="ingredients" type="sickSa.domain.Ingredients">
		<result column="ing_id" property="ing_id"/>
		<result column="ing_name" property="ing_name"/>
		<result column="ing_stock" property="ing_stock"/>
		<result column="ing_measure" property="ing_measure"/>
		<association 
				resultMap="ingredient_details"
				property="ingredientDetails"
				/>
		<association 
				resultMap="ingredient_categories"
				property="ingredientCategories"
				/>
	</resultMap>
	
	<resultMap id="PDIG" type="sickSa.domain.ProductIngredients">
		<result column="PDT_ID" property="PDT_ID"/>
		<association property="PDIG_AMOUNTS" javaType="java.util.Map">
			<result property="key" column="ING_ID"/>
			<result property="value" column="PDIG_AMOUNT"/>
		</association>
	</resultMap>
	
	<select 
		id="listIngredient" 
		resultType="sickSa.domain.Ingredients">
		SELECT ing_id,ing_name,ing_stock,ing_measure
		FROM ingredients
	</select>
	
	<select 
		id="cateIngList" 
		parameterType="java.lang.Integer" 
		resultMap="ingredients">
		SELECT 
			ing_id,ing_name,ing_stock,ing_measure,igdt_in,igdt_out,igdt_price,igdt_contact,igct_id,igct_name
		FROM 
			ingredients ing
		NATURAL JOIN 
			ingredient_details igdt
		NATURAL JOIN 
			ingredient_categories igct
		WHERE 
			igct.igct_name = #{igct_name};
	</select>
	
	<select 
		id="selectIngredientById" 
		parameterType="java.lang.Integer" 
		resultType="sickSa.domain.Ingredients">
		SELECT ing_id,ing_name,ing_stock,ing_measure
		FROM ingredients
		WHERE ing_id=#{ing_id}
	</select>
	
	<insert 
		id="insertIngredient"
		parameterType="sickSa.domain.Ingredients">
		<selectKey 
			keyProperty="ing_id" 
			resultType="java.lang.Integer"
			order="BEFORE">
			SELECT ingredients_ing_id_seq.nextval FROM DUAL
		</selectKey>
		INSERT INTO ingredients(ing_id,ing_name,ing_stock,ing_measure)
		VALUES (#{ing_id},#{ing_name},#{ing_stock},#{ing_measure})
	</insert>
	
	<delete 
		id="deleteIngredient"
		parameterType="java.lang.Integer">
		DELETE FROM ingredients
		WHERE ing_id=#{ing_id}
	</delete>
	
	<update 
		id="updateIngredient"
		>
		UPDATE ingredients
		SET ing_name=#{ing_name},ing_stock=#{ing_stock},
			ing_measure=#{ing_measure}
		WHERE ing_id = #{ing_id}
	</update> 
	
	<!-- 	
	<foreach item="item" index="index" collection="list"
      open="(" separator="," close=")">
        #{item}
  	</foreach>
  	Map을 사용할때 index는 key객체가 되고 항목은 value객체가 된다.
	-->
	
	<update 
		id="changeStock"
		parameterType="sickSa.domain.ProductIngredients">
		<bind name="ING_ID" value="_parameter.getPDIG_AMOUNT()"/>
		<bind name="PDIG_AMOUNT" value="_parameter."/>
		UPDATE ingredients
		<foreach item="item" index="index" collection="list"
      		open="(" separator="," close=")">
		SET ING_STOCK= (SELECT ING_STOCK
		                FROM ingredients
		                WHERE ING_ID= #{item}) - #{index}
		WHERE ING_ID = #{item};
		</foreach>
	</update>  
	
	<!-- <update 
		id="changeStock"
		parameterType="sickSa.domain.ProductIngredients">
		UPDATE INGREDIENTS
		SET ING_STOCK= (SELECT ING_STOCK
		                FROM INGREDIENTS
		                WHERE ING_ID= #{ING_ID, resultMap=PDIG}) - #{PDIG_AMOUNT, resultMap=PDIG}
		WHERE ING_ID = #{ING_ID, resultMap=PDIG};
	</update>  -->
	
</mapper>