<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sickSa.mapper.OrderDao">

	<resultMap id="orderResultMap" type="sickSa.domain.OrderVO">
		<id property="ord_id" column="ORD_ID" />
		<result property="ord_total" column="ORD_TOTAL" />
		<result property="ord_payment_method" column="ORD_PAYMENT_METHOD" />
		<result property="ord_date" column="ORD_DATE" />
		<result property="tbl_id" column="TBL_ID" />
		<collection property="orderDetailList" javaType="java.util.ArrayList"
			resultMap="orderDetailResultMap" />
	</resultMap>

	<resultMap id="orderDetailResultMap" type="sickSa.domain.OrderDetailVO">
		<result property="ord_id" column="ORD_ID" />
		<result property="ordt_amount" column="ORDT_AMOUNT" />
		<result property="pdt_id" column="PDT_ID" />
		<result property="ord_state" column="ORD_STATE" />
	</resultMap>

	<select id="selectOrderList" resultMap="orderResultMap">
		select        *
		from          ORDERS
		natural join  ORDER_DETAILS
	</select>

	<select id="selectOrderListByDate" parameterType="hashmap" resultMap="orderResultMap">
		<![CDATA[
		select        *
		from          ORDERS
		natural join  ORDER_DETAILS
		where         TO_DATE('${startDate}', 'YYYY/MM/DD') <= ORD_DATE
		              and ORD_DATE < TO_DATE('${endDate}', 'YYYY/MM/DD')
		]]>
	</select>

	<select id="selectOrderListByState" resultMap="orderResultMap">
		select        *
		from          ORDERS
		natural join  ORDER_DETAILS
		where     		ORDT_STATE = #{ordt_state}
	</select>

<!-- 
	<select id="selectOrder" parameterType="int" resultType="sickSa.domain.Order">
		select  ORD_ID,
		PDT_ID,
		ORD_PDT_AMOUNT,
		ORD_TOTAL,
		ORD_PAYMENT_METHOD,
		ORD_DATE,
		TBL_ID
		FROM
		ORDERS
		where ORD_ID=#{ord_id} and
		PDT_ID=#{pdt_id} and
		TBL_ID=#{tbl_id}
	</select>
-->

	<insert id="insertOrder" parameterType="sickSa.domain.OrderVO">
		insert into TABLES(ORD_ID, ORD_TOTAL, ORD_PAYMENT_METHOD)
		            values(ORDERS_ORD_ID_SEQ.NEXTVAL, #{ord_total}, #{ord_paymentMethod})
	</insert>
	
	<insert id="insertOrder" parameterType="sickSa.domain.OrderVO">
		insert into TABLES(ORD_ID, PDT_ID, ORDT_AMOUNT)
		            values(#{ord_id}, #{pdt_id}, #{ordt_amount})
	</insert>

	<update id="updateOrder" parameterType="sickSa.domain.Order">
		update  ORDERS
		set		  ORD_TOTAL = #{ord_total},
            ORD_PAYMENT_METHOD = #{ord_payment_method},
		        ORD_DATE = #{ord_date},
		        TBL_ID = #{tbl_id}
		where		ORD_ID = #{ord_id}
	</update>

<!--
	<delete id="delete" parameterType="sickSa.domain.Order">
		delete ORDERS
		where
		ORD_ID=#{ord_id} and PDT_ID=#{pdt_id} and TBL_ID=#{tbl_id}
	</delete>
-->

</mapper>