<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis3.mapper.ProductMapper">

	<insert id="insertProduct" parameterType="sickSa.domain.Product">
		INSERT INTO
		PRODUCTS(PDT_ID,PDT_NAME,PDT_PRICE,PDT_IMGSRC_L,PDT_IMGSRC_S,PDT_DESCRIPTION,PDCT_ID)
		VALUES
		(#{pdt_id},#{pdt_name},#{pdt_price},#{pdt_imgsrc_L},#{pdt_imgsrc_S},#{pdt_description},#{pdct_id})
	</insert>

	<!-- Product객체 1개반환 -->
	<!-- resultType:Product(Dto) -->
	<select id="findProductById" parameterType="java.lang.Integer"
		resultType="sickSa.domain.Product">
		SELECT PDT_ID,PDT_NAME,PDT_PRICE,PDT_IMGSRC_L,PDT_IMGSRC_S,PDT_DESCRIPTION,PDCT_ID
		FROM PRODUCTS
		WHERE PDT_ID = #{PDT_ID}
	</select>

	<!-- resultType:Map -->
	<select id="findAllProductsMap" resultType="java.util.Map">
		SELECT PDT_ID,PDT_NAME,PDT_PRICE,PDT_IMGSRC_L,PDT_IMGSRC_S,PDT_DESCRIPTION,PDCT_ID FROM PRODUCTS
	</select>
	<!-- Product객체 여러개반환 -->
	<!-- resultType:Product(Dto) -->
	<select id="findAllProducts" 
			resultType="sickSa.domain.Product">
		SELECT PDT_ID,PDT_NAME,PDT_PRICE,PDT_IMGSRC_L,PDT_IMGSRC_S,PDT_DESCRIPTION,PDCT_ID FROM PRODUCTS
		ORDER BY PDT_ID ASC
	</select>
	
	<update id="updateProduct"
			parameterType="sickSa.domain.Product">
		UPDATE PRODUCTS 
		SET
		PDT_NAME=#{pdt_name},
		PDT_PRICE=#{pdt_price},
		PDT_IMGSRC_L=#{pdt_imgsrc_L},
		PDT_IMGSRC_S=#{pdt_imgsrc_S},
		PDT_DESCRIPTION=#{pdt_description},
		PDCT_ID=#{pdct_id} 
		WHERE PDT_ID=#{pdt_id}
	</update>
	<delete id="deleteProduct" parameterType="sickSa.domain.Product">
		DELETE PRODUCTS
		WHERE
		PDT_ID = #{pdt_id} 
	</delete>	

</mapper>