<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sickSa.dao.QueueAwaiterDao">
<!-- --> 
	<resultMap id="queueAwaiter" type="sickSa.domain.QueueAwaiter">
		<result column="QAWT_ID" property="qawt_id"/>
		<result column="QAWT_CONTACT" property="qawt_contact"/>
	</resultMap>
	<!-- 
    <select id="selectAllQueueAwaiters" resultType="sickSa.domain.QueueAwaiter">
    	SELECT
    		QAWT_ID as ID,
        	QAWT_CONTACT as CONTACT
        FROM
        	QUEUE_AWAITERS
    </select>
    
    <select id="selectQueueAwaiterContactById" parameterType="java.lang.Integer" resultType="java.lang.String">
    	SELECT
    		QAWT_CONTACT
    	FROM
    		QUEUE_AWAITERS
    	WHERE
    		QAWT_ID = #{qawtId}
    </select>
    
	<insert id="insertQueueAwaiter" parameterType="sickSa.domain.QueueAwaiter">
		INSERT INTO
			QUEUE_AWAITERS(QAWT_ID, QAWT_CONTACT)
			values(#{qawt_id}, #{qawt_contact})
	</insert>
	
	<update id="updateQueueAwaiter" parameterType="sickSa.domain.QueueAwaiter">
		UPDATE
			QUEUE_AWAITERS
		SET
			QAWT_CONTACT = #{qawt_contact}
		WHERE
			QAWT_ID = #{qawt_id}
	</update>
	
	<delete id="deleteQueueAwaiter" parameterMap="sickSa.domain.QueueAwaiter">
		DELETE FROM
			QUEUE_AWAITERS
		WHERE
			QAWT_ID = #{qawt_id}
	</delete>
	
	    <select id="selectQueueAwaiterContactById" parameterType="java.lang.Integer" resultType="java.lang.String">
    	SELECT
    		QAWT_CONTACT
    	FROM
    		QUEUE_AWAITERS
    	WHERE
    		QAWT_ID = #{qawtId}
    </select>
    -->
    
    <select id="selectQueueAwaiterList" resultType="sickSa.domain.QueueAwaiter">
    	SELECT
    		QAWT_ID as qawt_id,
    		QAWT_CONTACT as qawt_contact
    	FROM
    		QUEUE_AWAITERS
    </select>
    
    <select id="selectQueueAwaiterById" resultType="sickSa.domain.QueueAwaiter">
    	SELECT
    		QAWT_ID,
    		QAWT_CONTACT
    	FROM
    		QUEUE_AWAITERS
    	WHERE
    		QAWT_ID = #{qawtId}
    </select>
    
    <select id="selectNextAwaiter" resultType="sickSa.domain.QueueAwaiter">
    	SELECT
    		QAWT_ID,
    		QAWT_CONTACT
    	FROM
    		QUEUE_AWAITERS
    	WHERE
    		QAWT_ID = (
    			SELECT
    				MIN(QAWT_ID)
    			FROM
    				QUEUE_AWAITERS
    			)
    </select>
    
    <delete id="deleteQueueAwaiter" parameterType="java.lang.Integer">
    	DELETE
    	FROM
    		QUEUE_AWAITERS
    	WHERE
    		QAWT_ID = #{qawtId}
    </delete>
</mapper>