<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sickSa.mapper.QueueLogDao">
	
	<select id="selectList" resultType="sickSa.domain.QueueLog">
		SELECT
			QLOG_ID,
			QLOG_CONTACT,
			QLOG_DATE,
			QLST_CODE
		FROM
			QUEUE_LOGS
	</select>
	
	<select id="selectOne" parameterType="int" resultType="sickSa.domain.QueueLog">
		SELECT
			QLOG_ID,
			QLOG_CONTACT,
			QLOG_DATE,
			QLST_CODE
		FROM
			QUEUE_LOGS
		WHERE
			QLOG_ID = #{qlog_id}
	</select>
	
	<insert id="insert" parameterType="sickSa.domain.QueueLog">
		INSERT INTO
			QUEUE_LOGS(QLOG_ID, QLOG_CONTACT, QLOG_DATE, QLST_CODE)
			values(QUEUE_LOGS_QLOG_ID_SEQ.NEXTVAL, #{qlog_contact}, SYSDATE, #{qlst_code)
	</insert>
	
	<update id="update" parameterType="sickSa.domain.QueueLog">
		UPDATE
			QUEUE_LOGS
		SET
			QLOG_CONTACT = #{qlog_contact},
			QLOG_DATE = #{qlog_date},
			QLST_CODE = #{qlst_code}
		WHERE
			QLOG_ID = #{qlog_id}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM
			QUEUE_LOGS
		WHERE
			QLOG_ID = ${qlog_id}
	</delete>
	
</mapper>