<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sickSa.dao.QueueLogDao">
	<insert id="insert" parameterType="sickSa.domain.QueueLog">
		INSERT INTO
			QUEUE_LOGS(QLOGS_ID, QLOGS_NUMBER, QLOGS_CONTACT, QLOGS_DATE)
			values(QUEUE_LOGS_QLOG_ID_SEQ.NEXTVAL, #{qlog_number}, #{qlog_contact}, SYSDATE)
	</insert>
	
	<select id="selectNumber" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		SELECT
			COUNT(*)
		FROM
			QUEUE_LOGS
		WHERE #{qstd_id}
	</select>
</mapper>