<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
  
<mapper namespace="sickSa.dao.TablesDao">

	<resultMap id="TableResultMap"  type="sickSa.domain.Table">
		<result property="tbl_id"  column="TBL_ID" />
		<result  property="tbl_isEmpty"  column="TBL_IS_EMPTY"/>
	</resultMap>

<select id="getTable"  parameterType= "java.lang.Integer"  resultMap="TableResultMap">
	select * from TABLES;
</select>

<select id="selectTable"  parameterType= "java.lang.Integer"  resultMap="TableResultMap">
	select * from TABLES where TBL_ID=#{tbl_id}
</select>

<insert id="insertTable"  parameterType= "sickSa.domain.Table" >
	insert into TABLES (TBL_ID,TBL_IS_EMPTY)
				values(#{tbl_id},#{tbl_isEmpty})
</insert>


<update id="updateTable" parameterType="sickSa.domain.Table">
	update TABLES 
			set 	TBL_IS_EMPTY=#{tbl_isEmpty}
			where TBL_ID=#{tbl_id}
</update>


<delete id="deleteTable" parameterType="sickSa.domain.Table">
	delete from TABLES
			where TBL_ID=#{tbl_id} 
</delete>

</mapper>