<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sickSa.mapper.TableDao">

	<select id="selectList" resultType="sickSa.domain.Table">
		SELECT
			TBL_ID,
			TBL_IS_EMPTY
		FROM
			TABLES
	</select>

	<select id="selectOne" parameterType="java.lang.Integer" resultType="sickSa.domain.Table">
		SELECT
			TBL_ID,
			TBL_IS_EMPTY
		FROM
			TABLES
		WHERE
			TBL_ID = #{tbl_id}
	</select>

	<insert id="insert" parameterType="sickSa.domain.Table">
		INSERT INTO
			TABLES(TBL_ID,TBL_IS_EMPTY)
			VALUES(#{tbl_id}, #{tbl_isEmpty})
	</insert>

	<update id="update" parameterType="sickSa.domain.Table">
		UPDATE
			TABLES
		SET
			TBL_IS_EMPTY = #{tbl_isEmpty}
		WHERE
			TBL_ID = #{tbl_id}
	</update>

	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM
			TABLES
		WHERE
			TBL_ID = #{tbl_id}
	</delete>

</mapper>