<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sickSa.dao.ProductCategoriesDao">
	<select id="selectAllProductCategories" resultType="sickSa.domain.ProductCategories">
		SELECT
			PDCT_ID,
			PDCT_NAME
		FROM
			PRODUCT_CATEGORIES
	</select>
	
	<select id="selectProductCategoriesById" parameterType="java.lang.Integer" resultType="sickSa.domain.ProductCategories">
	<bind name="pdct_id" value=""/>
		SELECT
			PDCT_ID,
			PDCT_NAME
		FROM
			PRODUCT_CATEGORIES
		WHERE
			PDCT_ID=#{pdct_id}
	</select>
</mapper>